# JSON and XML - Lab

## Introduction

In this lab, you'll practice navigating JSON and XML data structures.

## Objectives
You will be able to:
* Effectively use the JSON module to load and parse JSON documents
* Read and access data stored in JSON and XML
* Compare  and contrast the JSON and XML as data interchange types

## XML

In [1]:
import xml.etree.ElementTree as ET

### Create an XML tree and retrieve the root tag.

In [2]:
tree = ET.parse('nyc_2001_campaign_finance.xml')
root = tree.getroot()

### How many direct descendents does the root tag have?

In [3]:
for child in root:
    print(child.tag, child.attrib)
#Answer: 1

row {}

### How many different types of tags are there within the entire XML file?

In [4]:
count = 0
for child in root:
    print('Child:\n')
    print(child.tag, child.attrib)
    print('Grandchildren:')
    for grandchild in child:
        count += 1
        if count < 10:
            print(grandchild.tag, grandchild.attrib)
    print('\n\n')

Child:

row {}
Grandchildren:
row {'_id': '1', '_uuid': 'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1', '_position': '1', '_address': 'https://data.cityofnewyork.us/resource/_8dhd-zvi6/1'}
row {'_id': '2', '_uuid': '9D257416-581A-4C42-85CC-B6EAD9DED97F', '_position': '2', '_address': 'https://data.cityofnewyork.us/resource/_8dhd-zvi6/2'}
row {'_id': '3', '_uuid': 'B80D7891-93CF-49E8-86E8-182B618E68F2', '_position': '3', '_address': 'https://data.cityofnewyork.us/resource/_8dhd-zvi6/3'}
row {'_id': '4', '_uuid': 'BB012003-78F5-406D-8A87-7FF8A425EE3F', '_position': '4', '_address': 'https://data.cityofnewyork.us/resource/_8dhd-zvi6/4'}
row {'_id': '5', '_uuid': '945825F9-2F5D-47C2-A16B-75B93E61E1AD', '_position': '5', '_address': 'https://data.cityofnewyork.us/resource/_8dhd-zvi6/5'}
row {'_id': '6', '_uuid': '9546F502-39D6-4340-B37E-60682EB22274', '_position': '6', '_address': 'https://data.cityofnewyork.us/resource/_8dhd-zvi6/6'}
row {'_id': '7', '_uuid': '4B6C74AD-17A0-4B7E-973A-2592D68A687D', '_position': '7', '_address': 'https://data.cityofnewyork.us/resource/_8dhd-zvi6/7'}
row {'_id': '8', '_uuid': 'ABD22A5E-B8DA-446F-82BC-93AA11AF99DF', '_position': '8', '_address': 'https://data.cityofnewyork.us/resource/_8dhd-zvi6/8'}
row {'_id': '9', '_uuid': '7CD36FB5-600F-44F5-A10C-CB3434B6805F', '_position': '9', '_address': 'https://data.cityofnewyork.us/resource/_8dhd-zvi6/9'}

### Create a DataFrame listing the number of each type of tag. 
Sort the DataFrame in descending order by the tag count. The first entry should demonstrate there are 286 row tags in the XML file.   
(Your DataFrame will be a single column, so could also be thought of as a Series.)

In [6]:
import pandas as pd

In [8]:
dfs = []
for n, element in enumerate(root.iter('row')):
    if n > 0:
        dfs.append(pd.DataFrame.from_dict(element.attrib, orient='index').transpose())
df = pd.concat(dfs)
print(len(df))
df.head().sort_index(ascending = False)

285

,_id,_uuid,_position,_address
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,https://data.cityofnewyork.us/resource/_8dhd-z...
0,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,https://data.cityofnewyork.us/resource/_8dhd-z...
0,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,https://data.cityofnewyork.us/resource/_8dhd-z...
0,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,https://data.cityofnewyork.us/resource/_8dhd-z...
0,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,https://data.cityofnewyork.us/resource/_8dhd-z...

## JSON

### Open the same dataset from json

In [9]:
import json
f = open ('nyc_2001_campaign_finance.json')
data = json.load(f)

### What is the root data type of the json file?

In [10]:
print(type(data))

<class 'dict'>

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [11]:
data.keys()

dict_keys(['meta', 'data'])

### Preview the first entry from the value returned by the 'data' key above.

In [17]:
data['data'][0]

[1,
 'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1',
 1,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}',
 None,
 'CANDID',
 'CANDNAME',
 None,
 'OFFICEBORO',
 None,
 'CANCLASS',
 None,
 None,
 None,
 None]

In [16]:
import pandas as pd
print(len(data['meta'].values()))
pd.DataFrame.from_dict(data['meta'])

1

                                                                       view
attribution                                    Campaign Finance Board (CFB)
averageRating                                                             0
category                                                    City Government
columns                   [{'id': -1, 'name': 'sid', 'dataTypeName': 'me...
createdAt                                                        1315950830
description               A listing of public funds payments for candida...
displayType                                                           table
downloadCount                                                          1470
flags                         [default, restorable, restorePossibleForType]
grants                    [{'inherited': False, 'type': 'viewer', 'flags...
hideFromCatalog                                                       False
hideFromDataJson                                                      False
id                                                                8dhd-zvi6
indexUpdatedAt                                                   1536596254
metadata                  {'rdfSubject': '0', 'rdfClass': '', 'attachmen...
name                                                 2001 Campaign Payments
newBackend                                                            False
numberOfComments                                                          0
oid                                                                 4140996
owner                     {'id': '5fuc-pqz2', 'displayName': 'NYC OpenDa...
provenance                                                         official
publicationAppendEnabled                                              False
publicationDate                                                  1371845179
publicationGroup                                                     240370
publicationStage                                                  published
query                                                                    {}
rights                                                               [read]
rowClass
rowsUpdatedAt                                                    1371845177
rowsUpdatedBy                                                     5fuc-pqz2
tableAuthor               {'id': '5fuc-pqz2', 'displayName': 'NYC OpenDa...
tableId                                                              932968
tags                      [finance, campaign finance board, cfb, nyccfb,...
totalTimesRated                                                           0
viewCount                                                               233
viewLastModified                                                 1536605717
viewType                                                            tabular

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [19]:
data['meta']['view'].keys()

dict_keys(['id', 'name', 'attribution', 'averageRating', 'category', 'createdAt', 'description', 'displayType', 'downloadCount', 'hideFromCatalog', 'hideFromDataJson', 'indexUpdatedAt', 'newBackend', 'numberOfComments', 'oid', 'provenance', 'publicationAppendEnabled', 'publicationDate', 'publicationGroup', 'publicationStage', 'rowClass', 'rowsUpdatedAt', 'rowsUpdatedBy', 'tableId', 'totalTimesRated', 'viewCount', 'viewLastModified', 'viewType', 'columns', 'grants', 'metadata', 'owner', 'query', 'rights', 'tableAuthor', 'tags', 'flags'])

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [ ]:
pd.DataFrame.from_dict(d)

### What's wrong with the first row of the DataFrame?

In [ ]:
#Your code here

#Your answer here

## Summary

Congratulations! You've started exploring some more complicated data structures used for the web and got to practice data munging and exploring!